body {
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(0, 0, 0);
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding: 10px 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background-color: darkred;
}

#increment-btn:hover {
    background-color: darkgreen;
}

#decrement-btn {
    background-color: darkblue;
}

#decrement-btn:hover {
    background-color: darkred;
}
#reset-btn {
    background-color: darkgray;
}

#reset-btn:hover {
    background-color: darkblue;
}
#counter-value {
    font-size: 80px;
    margin: 20px 0;
}
#history-list {
    list-style-type: none;
    padding: 0;
}